/*Alinhando textos*/
h1,
figure,
article {
    text-align: center;
   }

body {
    background-color: hsl(120, 55%, 70%)
}

/*header*/
.header-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0px;
}

span.intro {
    margin: 10px 0px;
}



/*===========================================================================================================================*/
/*================================================Creating the slideshow with only CSS:======================================*/
.recipes-container {
    background: 
    linear-gradient(149deg, 
    rgb(68, 150, 48) 0%, 
    rgb(31, 14, 107) 100%);

    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carousel { /*the viewport*/
    width: 100%;    
    max-width: 37.5em;
    height: 25em;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.recipes {
    display: flex;
    position: relative;
    /*Overflow-x to scroll means anything that doesn't fit in our viewport will be accessible only by scrolling*/
    overflow-x: scroll;
    /*set the browser to scroll it smothly*/
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.recipe:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
}

.recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 25em; /*same size as viewport*/
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    /**/
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.recipe__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

/*Taking off the scrollbar*/
.recipes {
    width: 600px;
    height: 400px;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

/*Arrows:*/
.recipe a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    /*border: solid black;  /SEE NOTE BELOW */
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;

    background: none;
    border: none;
}

/*
===========NOTE=============================
The code above will put each arrow inside each recipe slide, it also needs the recipe anchor (.recipe a) with a border.

a.recipe__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.recipe__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

However, the following code will make the arrows hidden and fixed in the carousel element above the recipes box:*/
a.recipe__prev,
.carousel::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.recipe__next,
.carousel::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

.carousel::before,
.carousel::after,
.recipe__prev,
.recipe__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background: none;
  pointer-events: none;
}

/*Some simple breadcrumbs*/
.menu__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.menu__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
}